<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleAppForNAV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ConsoleAppForNAV.Properties.Settings>
            <setting name="ConsoleAppForNAV_CustomerService_PageWithCapitalization_Service"
                serializeAs="String">
                <value>http://junit:7067/DynamicsNAV90/WS/CRONUS%20International%20Ltd./Page/PageWithCapitalization</value>
            </setting>
        </ConsoleAppForNAV.Properties.Settings>
    </applicationSettings>
</configuration>